@import url('https://fonts.googleapis.com/css?family=Righteous');

body {
    text-align: center;
    background: url('../images/background.png') center/cover no-repeat fixed;
}

.overlay, .modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.overlay {
    z-index: 1;
    background-image: radial-gradient(circle, rgba(246, 244, 242, 0.4), rgba(37, 38, 39, 0.7));
}

.modal {
    z-index: 5;
    display: none;
}

.container {
    position: relative;
    z-index: 2;
    height: 100%;
}

.nav {
    transform: translateY(635px);
    margin-left: 260px;
}
.btn {
    list-style: none;
    display: inline;
    margin: 0 5px;
    text-transform: uppercase;
    font: 300 15px 'Righteous', Courier, monospace;
}

.restart {
    font: inherit;
    text-transform: inherit;
    background: none;
    border: 1px solid black;
}

.restart:focus {
    outline: 0;
}

.instructions {
    color: inherit;
    text-decoration: none;

}

.title {
    font: 500 35px 'Righteous', Courier, monospace;
}


.rickrolled {
    display: none;
    pointer-events: none;
}
